[{:user_id #uuid "20000000-81c1-4f1a-aa22-eeb57d2eea98"
  :picture "http://static3.businessinsider.com/image/54d11789ecad04b16d8f9527-480/tim-duncan.jpg"
  :caption "I'm retired!"
  :hashtags ["timduncan" "retire"]}
 {:user_id #uuid "20000000-81c1-4f1a-aa22-eeb57d2eea98"
  :picture "http://images.performgroup.com/di/library/sporting_news/87/1c/manu-ginobili_nqbelamkt3f719ywkkj5h4v40.jpg?t=1199571342&h=600"
  :caption "Good!"
  :hashtags ["good" "manuginobili"]}
 {:user_id #uuid "6c0c4d91-7ed2-4fd3-af63-7ef2d394fd81"
  :picture "http://images.performgroup.com/di/library/sporting_news/87/1c/manu-ginobili_nqbelamkt3f719ywkkj5h4v40.jpg?t=1199571342&h=600"
  :caption "Good"
  :hashtags []}
 {:user_id #uuid "6c0c4d91-7ed2-4fd3-af63-7ef2d394fd81"
  :picture "http://images.performgroup.com/di/library/sporting_news/87/1c/manu-ginobili_nqbelamkt3f719ywkkj5h4v40.jpg?t=1199571342&h=600"
  :caption "Nice"
  :hashtags []}]
