{:email-or-password-not-correct "用户名或密码不正确."
 :uid-or-password-not-correct "用户名或密码不正确."
 :login-failed "登录失败."
 :duplicate-email "邮箱已经被占用."
 :duplicate-phone "手机已经被占用."
 :duplicate-identity "用户名已经被占用."
 :duplicate-art-identity "作品id已经被占用."
 :duplicate-address "地址已存在."
 :duplicate-shipment "该订单运单号已存在."
 :duplicate-category "分类已存在."
 :duplicate-charge "订单已charge."
 :duplicate-college "学校已存在."
 :duplicate-device "设备已关联."
 :duplicate-favorite "商品已收藏."
 :duplicate-inquire "商品已询价."
 :duplicate-payment-account "交易帐号已存在."
 :duplicate-shipment-detail "运单已经包含商品."
 :duplicate-social "社交帐号已存在."
 :duplicate-confirmation "验证码已存在."
 :db-internal-error "您与bug不期而遇，请反馈给我们，谢谢."
 :upload-failed "图片上传失败."
 :confirmation-failed "验证失败."
 :password-reset-failed "密码重置链接失效."
 :app-key-or-secret-wrong "app_key或app_secret不正确."
 :email-or-phone-not-exists "邮件或者手机号不存在."
 :email-not-exists "邮件不存在."
 :phone-not-exists "手机号不存在."
 :address-not-exists "地址不存在."
 :same-passwords "为了帐号安全，新密码请不要和旧密码相同."
 :wrong-password "当前密码不正确."
 :institution-artist-name-not-give "请填写艺术家姓名."
 :province-city-district-not-match "省市区不吻合."
 :wrong-code "验证码无效."
 :coupon-not-available "礼券不可用."
 :invite-code-not-available "邀请码不可用."
 :have-exchanged "邀请码仅开放给新用户或您已兑换过一次"
 :unavaliable-share-code "分享码不正确或已失效."
 :unvalid-input "输入不正确"}
