package com.lymchat.lymchat;

import com.facebook.react.bridge.ReactApplicationContext;
import com.facebook.react.bridge.ReactContextBaseJavaModule;

import java.util.HashMap;
import java.util.Map;

/**
 * Created by tienson on 9/7/16.
 */
public class Config extends ReactContextBaseJavaModule {

    private static final String APP_KEY = "";
    private static final String APP_SECRET = "";
    private static final String GOOGLE_SIGN_CLIENT_ID = "";
    private static final String WECHAT_ID = "";
    private static final String WECHAT_SECRET = "";
    private static final String WECHAT_STATE = "";

    public Config(ReactApplicationContext reactContext) {
        super(reactContext);
    }

    @Override
    public String getName() {
        return "Config";
    }

    @Override
    public Map<String, Object> getConstants() {
        final Map<String, Object> constants = new HashMap<>();
        constants.put("app_key", APP_KEY);
        constants.put("app_secret", APP_SECRET);
        constants.put("google_signin_client_id", GOOGLE_SIGN_CLIENT_ID);
        constants.put("wechat_id", WECHAT_ID);
        constants.put("wechat_secret", WECHAT_SECRET);
        constants.put("wechat_state", WECHAT_STATE);
        return constants;
    }
}
